In [1]:
import pandas as pd
import matplotlib.pylab as plt

In [2]:
pd.set_option('display.max_row', 500)

In [3]:
%matplotlib inline

In [4]:
data = pd.read_csv('data/201901-202003.csv')

In [5]:
data.head()

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3

In [6]:
data.tail()

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
24697787,202003,충북,충주시,휴양콘도 운영업,충북,충주시,30s,1,2,3,43300,4
24697788,202003,충북,충주시,휴양콘도 운영업,충북,충주시,40s,1,3,3,35000,3
24697789,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,1,4,4,188000,6
24697790,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,2,4,4,99000,6
24697791,202003,충북,충주시,휴양콘도 운영업,충북,충주시,60s,1,5,3,194000,3

In [7]:
import numpy as np

In [8]:
def grap_year(data):
    data = str(data)
    return int(data[:4])

def grap_month(data):
    data = str(data)
    return int(data[4:])

In [9]:
data = data.fillna('')
data['year'] = data['REG_YYMM'].apply(lambda x: grap_year(x))
data['month'] = data['REG_YYMM'].apply(lambda x: grap_month(x))
data = data.drop(['REG_YYMM'], axis=1)

In [10]:
data = pd.get_dummies(data, columns=['AGE', 'SEX_CTGO_CD', 'FLC'])

In [16]:
data = data.drop(['CARD_CCG_NM', 'HOM_CCG_NM'], axis = 1)

In [21]:
data['거주민'] = (data['CARD_SIDO_NM'] == data['HOM_SIDO_NM'])

In [26]:
data = pd.get_dummies(data, columns = ['거주민'])

In [22]:
data = data.drop(['HOM_SIDO_NM'], axis = 1)

In [27]:
final = data.groupby(['year', 'month', 'CARD_SIDO_NM', 'STD_CLSS_NM']).sum()

In [30]:
final.to_csv('tidy_data.csv', index = False)