In [2]:
import pandas as pd
import matplotlib.pylab as plt
import numpy as np
data = pd.read_csv('C:/Users/USER/Desktop/[2020]/2020 summer/데이콘/jeju_data_ver1/201901-202003.csv')

<<<<<도 성별 나이 벨류>>>>>

In [3]:
data.head()

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3

In [7]:
data

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3
...,...,...,...,...,...,...,...,...,...,...,...,...
24697787,202003,충북,충주시,휴양콘도 운영업,충북,충주시,30s,1,2,3,43300,4
24697788,202003,충북,충주시,휴양콘도 운영업,충북,충주시,40s,1,3,3,35000,3
24697789,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,1,4,4,188000,6
24697790,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,2,4,4,99000,6
24697791,202003,충북,충주시,휴양콘도 운영업,충북,충주시,60s,1,5,3,194000,3

In [8]:
data.tail()

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
24697787,202003,충북,충주시,휴양콘도 운영업,충북,충주시,30s,1,2,3,43300,4
24697788,202003,충북,충주시,휴양콘도 운영업,충북,충주시,40s,1,3,3,35000,3
24697789,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,1,4,4,188000,6
24697790,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,2,4,4,99000,6
24697791,202003,충북,충주시,휴양콘도 운영업,충북,충주시,60s,1,5,3,194000,3

In [5]:
data1 = pd.read_csv('C:/Users/USER/Desktop/2020 summer dacon/2020_jeju_credit card/data/행정구역_시_별_연령별_인구수_202004.csv',encoding='cp949')

In [6]:
data1.head()

,행정구역,2020년04월_거주자_총인구수,2020년04월_거주자_연령구간인구수,2020년04월_거주자_0~9세,2020년04월_거주자_10~19세,2020년04월_거주자_20~29세,2020년04월_거주자_30~39세,2020년04월_거주자_40~49세,2020년04월_거주자_50~59세,2020년04월_거주자_60~69세,...,2020년04월_여_거주자_10~19세,2020년04월_여_거주자_20~29세,2020년04월_여_거주자_30~39세,2020년04월_여_거주자_40~49세,2020년04월_여_거주자_50~59세,2020년04월_여_거주자_60~69세,2020년04월_여_거주자_70~79세,2020년04월_여_거주자_80~89세,2020년04월_여_거주자_90~99세,2020년04월_여_거주자_100세 이상
0,전국 (0000000000),"51,351,759","51,351,759","4,101,282","4,877,023","6,771,934","6,940,217","8,266,552","8,544,542","6,370,399",...,"2,351,595","3,213,090","3,370,194","4,068,692","4,241,149","3,254,885","1,978,954","1,081,820","178,679","4,922"
1,서울특별시 (1100000000),"9,561,199","9,561,199","650,826","803,250","1,451,810","1,483,018","1,524,792","1,499,315","1,177,984",...,"391,195","743,778","740,830","769,876","765,724","621,159","366,330","160,227","27,296",778
2,부산광역시 (2600000000),"3,371,973","3,371,973","239,821","278,455","433,167","425,814","509,466","569,951","508,019",...,"134,327","206,793","208,257","253,351","294,242","266,869","156,271","70,611","10,685",262
3,대구광역시 (2700000000),"2,413,738","2,413,738","185,071","232,076","321,484","299,770","386,016","423,834","311,486",...,"110,510","149,092","144,628","195,859","216,736","163,239","96,568","48,540","6,710",157
4,인천광역시 (2800000000),"2,923,071","2,923,071","237,418","278,422","403,226","411,277","482,385","507,900","344,934",...,"135,139","192,750","198,993","236,384","254,547","174,126","93,891","49,063","8,827",233

2019.01-2020.03 SIDO - CCG 별 인구수

In [32]:
type(data1)

pandas.core.frame.DataFrame

In [33]:
data1 = data1.set_index('행정구역', drop = True)
data1

,2020년04월_거주자_총인구수,2020년04월_거주자_연령구간인구수,2020년04월_거주자_0~9세,2020년04월_거주자_10~19세,2020년04월_거주자_20~29세,2020년04월_거주자_30~39세,2020년04월_거주자_40~49세,2020년04월_거주자_50~59세,2020년04월_거주자_60~69세,2020년04월_거주자_70~79세,...,2020년04월_여_거주자_10~19세,2020년04월_여_거주자_20~29세,2020년04월_여_거주자_30~39세,2020년04월_여_거주자_40~49세,2020년04월_여_거주자_50~59세,2020년04월_여_거주자_60~69세,2020년04월_여_거주자_70~79세,2020년04월_여_거주자_80~89세,2020년04월_여_거주자_90~99세,2020년04월_여_거주자_100세 이상
행정구역,,,,,,,,,,,,,,,,,,,,,
전국 (0000000000),"51,351,759","51,351,759","4,101,282","4,877,023","6,771,934","6,940,217","8,266,552","8,544,542","6,370,399","3,589,416",...,"2,351,595","3,213,090","3,370,194","4,068,692","4,241,149","3,254,885","1,978,954","1,081,820","178,679","4,922"
서울특별시 (1100000000),"9,561,199","9,561,199","650,826","803,250","1,451,810","1,483,018","1,524,792","1,499,315","1,177,984","674,122",...,"391,195","743,778","740,830","769,876","765,724","621,159","366,330","160,227","27,296",778
부산광역시 (2600000000),"3,371,973","3,371,973","239,821","278,455","433,167","425,814","509,466","569,951","508,019","284,280",...,"134,327","206,793","208,257","253,351","294,242","266,869","156,271","70,611","10,685",262
대구광역시 (2700000000),"2,413,738","2,413,738","185,071","232,076","321,484","299,770","386,016","423,834","311,486","170,955",...,"110,510","149,092","144,628","195,859","216,736","163,239","96,568","48,540","6,710",157
인천광역시 (2800000000),"2,923,071","2,923,071","237,418","278,422","403,226","411,277","482,385","507,900","344,934","171,756",...,"135,139","192,750","198,993","236,384","254,547","174,126","93,891","49,063","8,827",233
광주광역시 (2900000000),"1,447,260","1,447,260","124,372","161,479","207,838","189,027","242,383","232,197","155,426","90,594",...,"77,548","99,439","92,948","122,181","117,317","81,398","50,485","25,011","4,305",134
대전광역시 (3000000000),"1,461,364","1,461,364","119,367","150,483","211,659","196,784","238,734","240,239","170,722","88,514",...,"72,541","100,407","94,641","119,863","121,053","87,716","48,403","25,334","4,212",105
울산광역시 (3100000000),"1,138,123","1,138,123","102,565","114,586","146,888","156,252","188,436","209,656","137,334","57,662",...,"54,135","64,595","73,624","92,777","102,952","68,007","30,488","14,754","2,459",43
세종특별자치시 (3600000000),"344,067","344,067","47,388","40,869","36,274","61,107","65,852","43,000","28,006","13,574",...,"20,333","17,946","31,350","32,055","20,741","14,103","7,390","4,586",843,29
경기도 (4100000000),"13,197,973","13,197,973","1,172,075","1,339,379","1,778,526","1,904,165","2,273,048","2,184,218","1,426,852","740,449",...,"649,603","843,049","925,210","1,119,776","1,078,108","718,215","405,241","212,056","36,241","1,036"
강원도 (4200000000),"1,524,275","1,524,275","108,045","140,425","178,154","167,408","223,985","265,623","227,301","134,303",...,"67,235","78,230","79,836","108,549","129,410","114,148","74,286","44,568","8,029",240
충청북도 (4300000000),"1,586,560","1,586,560","127,195","151,801","197,669","196,265","240,481","271,166","210,970","118,476",...,"72,715","87,866","92,600","115,883","131,806","105,394","65,398","42,148","6,684",183
충청남도 (4400000000),"2,104,150","2,104,150","178,492","205,103","241,970","272,658","325,856","336,295","264,777","167,132",...,"98,646","108,633","126,257","152,214","159,235","132,801","91,815","63,994","10,223",303
전라북도 (4500000000),"1,799,992","1,799,992","133,918","178,812","211,390","192,827","270,457","299,549","244,881","165,417",...,"86,082","97,420","93,410","130,706","144,791","124,102","92,933","59,999","9,867",292
전라남도 (4600000000),"1,844,731","1,844,731","136,575","170,968","201,065","189,897","261,080","313,284","259,615","189,876",...,"82,036","89,207","89,790","121,038","145,717","129,212","107,550","73,523","12,148",335
경상북도 (4700000000),"2,634,294","2,634,294","196,400","230,810","287,439","298,200","384,946","458,920","390,210","237,911",...,"109,109","125,334","139,460","183,959","221,941","196,962","132,749","88,637","13,919",391
경상남도 (4800000000),"3,333,946","3,333,946","280,070","328,969","381,959","412,484","536,823","579,342","437,143","240,233",...,"156,532","170,246","197,273","260,202","284,178","219,863","134,913","83,378","13,001",270
제주특별자치도 (5000000000),"665,043","665,043","61,684","71,136","81,416","83,264","111,812","110,053","74,739","44,162",...,"33,909","38,305","41,087","54,019","52,651","37,571","24,243","15,391","3,230",131

In [34]:
# 전국 단위 삭제
data1 = data1.drop(['전국  (0000000000)'])

In [35]:
# 도 이름 변경
data1.rename(index = {"서울특별시  (1100000000)" : '서울',
"부산광역시  (2600000000)" : '부산',
"대구광역시  (2700000000)" : '대구',
"인천광역시  (2800000000)" : '인천',
"광주광역시  (2900000000)" : '광주',
"대전광역시  (3000000000)" : '대전',
"울산광역시  (3100000000)" : '울산',
"세종특별자치시  (3600000000)" : '세종',
"경기도  (4100000000)" : '경기',
"강원도  (4200000000)" : '강원',
"충청북도  (4300000000)" : '충북',
"충청남도  (4400000000)" : '충남',
"전라북도  (4500000000)" : '전북',
"전라남도  (4600000000)" : '전남',
"경상북도  (4700000000)" : '경북',
"경상남도  (4800000000)" : '경남',
"제주특별자치도  (5000000000)" : '제주'
}, inplace = True)
data1

,2020년04월_거주자_총인구수,2020년04월_거주자_연령구간인구수,2020년04월_거주자_0~9세,2020년04월_거주자_10~19세,2020년04월_거주자_20~29세,2020년04월_거주자_30~39세,2020년04월_거주자_40~49세,2020년04월_거주자_50~59세,2020년04월_거주자_60~69세,2020년04월_거주자_70~79세,...,2020년04월_여_거주자_10~19세,2020년04월_여_거주자_20~29세,2020년04월_여_거주자_30~39세,2020년04월_여_거주자_40~49세,2020년04월_여_거주자_50~59세,2020년04월_여_거주자_60~69세,2020년04월_여_거주자_70~79세,2020년04월_여_거주자_80~89세,2020년04월_여_거주자_90~99세,2020년04월_여_거주자_100세 이상
행정구역,,,,,,,,,,,,,,,,,,,,,
서울,"9,561,199","9,561,199","650,826","803,250","1,451,810","1,483,018","1,524,792","1,499,315","1,177,984","674,122",...,"391,195","743,778","740,830","769,876","765,724","621,159","366,330","160,227","27,296",778
부산,"3,371,973","3,371,973","239,821","278,455","433,167","425,814","509,466","569,951","508,019","284,280",...,"134,327","206,793","208,257","253,351","294,242","266,869","156,271","70,611","10,685",262
대구,"2,413,738","2,413,738","185,071","232,076","321,484","299,770","386,016","423,834","311,486","170,955",...,"110,510","149,092","144,628","195,859","216,736","163,239","96,568","48,540","6,710",157
인천,"2,923,071","2,923,071","237,418","278,422","403,226","411,277","482,385","507,900","344,934","171,756",...,"135,139","192,750","198,993","236,384","254,547","174,126","93,891","49,063","8,827",233
광주,"1,447,260","1,447,260","124,372","161,479","207,838","189,027","242,383","232,197","155,426","90,594",...,"77,548","99,439","92,948","122,181","117,317","81,398","50,485","25,011","4,305",134
대전,"1,461,364","1,461,364","119,367","150,483","211,659","196,784","238,734","240,239","170,722","88,514",...,"72,541","100,407","94,641","119,863","121,053","87,716","48,403","25,334","4,212",105
울산,"1,138,123","1,138,123","102,565","114,586","146,888","156,252","188,436","209,656","137,334","57,662",...,"54,135","64,595","73,624","92,777","102,952","68,007","30,488","14,754","2,459",43
세종,"344,067","344,067","47,388","40,869","36,274","61,107","65,852","43,000","28,006","13,574",...,"20,333","17,946","31,350","32,055","20,741","14,103","7,390","4,586",843,29
경기,"13,197,973","13,197,973","1,172,075","1,339,379","1,778,526","1,904,165","2,273,048","2,184,218","1,426,852","740,449",...,"649,603","843,049","925,210","1,119,776","1,078,108","718,215","405,241","212,056","36,241","1,036"
강원,"1,524,275","1,524,275","108,045","140,425","178,154","167,408","223,985","265,623","227,301","134,303",...,"67,235","78,230","79,836","108,549","129,410","114,148","74,286","44,568","8,029",240
충북,"1,586,560","1,586,560","127,195","151,801","197,669","196,265","240,481","271,166","210,970","118,476",...,"72,715","87,866","92,600","115,883","131,806","105,394","65,398","42,148","6,684",183
충남,"2,104,150","2,104,150","178,492","205,103","241,970","272,658","325,856","336,295","264,777","167,132",...,"98,646","108,633","126,257","152,214","159,235","132,801","91,815","63,994","10,223",303
전북,"1,799,992","1,799,992","133,918","178,812","211,390","192,827","270,457","299,549","244,881","165,417",...,"86,082","97,420","93,410","130,706","144,791","124,102","92,933","59,999","9,867",292
전남,"1,844,731","1,844,731","136,575","170,968","201,065","189,897","261,080","313,284","259,615","189,876",...,"82,036","89,207","89,790","121,038","145,717","129,212","107,550","73,523","12,148",335
경북,"2,634,294","2,634,294","196,400","230,810","287,439","298,200","384,946","458,920","390,210","237,911",...,"109,109","125,334","139,460","183,959","221,941","196,962","132,749","88,637","13,919",391
경남,"3,333,946","3,333,946","280,070","328,969","381,959","412,484","536,823","579,342","437,143","240,233",...,"156,532","170,246","197,273","260,202","284,178","219,863","134,913","83,378","13,001",270
제주,"665,043","665,043","61,684","71,136","81,416","83,264","111,812","110,053","74,739","44,162",...,"33,909","38,305","41,087","54,019","52,651","37,571","24,243","15,391","3,230",131

In [36]:
# 2020년04월_거주자_총인구수,2020년04월_거주자_연령구간인구수 삭제

data1 = data1.drop(['2020년04월_거주자_총인구수','2020년04월_거주자_연령구간인구수','2020년04월_남_거주자_총인구수','2020년04월_남_거주자_연령구간인구수','2020년04월_여_거주자_총인구수','2020년04월_여_거주자_연령구간인구수'], axis = 1)

In [37]:
# 간단하게 행 인덱스도 변경
data1.rename(columns = {"2020년04월_거주자_0~9세":'pop_0s',
                      "2020년04월_거주자_10~19세":'pop_10s',
                      "2020년04월_거주자_20~29세":'pop_20s',
                      "2020년04월_거주자_30~39세":'pop_30s',
                      "2020년04월_거주자_40~49세":'pop_40s',
                      "2020년04월_거주자_50~59세":'pop_50s',
                      "2020년04월_거주자_60~69세":'pop_60s',
                      "2020년04월_거주자_70~79세":'pop_70s',
                      "2020년04월_거주자_80~89세":'pop_80s',
                      "2020년04월_거주자_90~99세":'pop_90s',
                      "2020년04월_거주자_100세 이상":'pop_100s',
                      "2020년04월_남_거주자_0~9세":'pop_man_0s',
                      "2020년04월_남_거주자_10~19세":'pop_man_10s',
                      "2020년04월_남_거주자_20~29세":'pop_man_20s',
                      "2020년04월_남_거주자_30~39세":'pop_man_30s',
                      "2020년04월_남_거주자_40~49세":'pop_man_40s',
                      "2020년04월_남_거주자_50~59세":'pop_man_50s',
                      "2020년04월_남_거주자_60~69세":'pop_man_60s',
                      "2020년04월_남_거주자_70~79세":'pop_man_70s',
                      "2020년04월_남_거주자_80~89세":'pop_man_80s',
                      "2020년04월_남_거주자_90~99세":'pop_man_90s',
                      "2020년04월_남_거주자_100세 이상":'pop_man_100s',
                      "2020년04월_여_거주자_0~9세":'pop_woman_0s',
                      "2020년04월_여_거주자_10~19세":'pop_woman_10s',
                      "2020년04월_여_거주자_20~29세":'pop_woman_20s',
                      "2020년04월_여_거주자_30~39세":'pop_woman_30s',
                      "2020년04월_여_거주자_40~49세":'pop_woman_40s',
                      "2020년04월_여_거주자_50~59세":'pop_woman_50s',
                      "2020년04월_여_거주자_60~69세":'pop_woman_60s',
                      "2020년04월_여_거주자_70~79세":'pop_woman_70s',
                      "2020년04월_여_거주자_80~89세":'pop_woman_80s',
                      "2020년04월_여_거주자_90~99세":'pop_woman_90s',
                      "2020년04월_여_거주자_100세 이상":'pop_woman_100s',
}, inplace = True)
data1

,pop_0s,pop_10s,pop_20s,pop_30s,pop_40s,pop_50s,pop_60s,pop_70s,pop_80s,pop_90s,...,pop_woman_10s,pop_woman_20s,pop_woman_30s,pop_woman_40s,pop_woman_50s,pop_woman_60s,pop_woman_70s,pop_woman_80s,pop_woman_90s,pop_woman_100s
행정구역,,,,,,,,,,,,,,,,,,,,,
서울,"650,826","803,250","1,451,810","1,483,018","1,524,792","1,499,315","1,177,984","674,122","258,995","36,128",...,"391,195","743,778","740,830","769,876","765,724","621,159","366,330","160,227","27,296",778
부산,"239,821","278,455","433,167","425,814","509,466","569,951","508,019","284,280","109,272","13,419",...,"134,327","206,793","208,257","253,351","294,242","266,869","156,271","70,611","10,685",262
대구,"185,071","232,076","321,484","299,770","386,016","423,834","311,486","170,955","74,360","8,507",...,"110,510","149,092","144,628","195,859","216,736","163,239","96,568","48,540","6,710",157
인천,"237,418","278,422","403,226","411,277","482,385","507,900","344,934","171,756","74,258","11,206",...,"135,139","192,750","198,993","236,384","254,547","174,126","93,891","49,063","8,827",233
광주,"124,372","161,479","207,838","189,027","242,383","232,197","155,426","90,594","38,332","5,465",...,"77,548","99,439","92,948","122,181","117,317","81,398","50,485","25,011","4,305",134
대전,"119,367","150,483","211,659","196,784","238,734","240,239","170,722","88,514","39,307","5,431",...,"72,541","100,407","94,641","119,863","121,053","87,716","48,403","25,334","4,212",105
울산,"102,565","114,586","146,888","156,252","188,436","209,656","137,334","57,662","21,786","2,913",...,"54,135","64,595","73,624","92,777","102,952","68,007","30,488","14,754","2,459",43
세종,"47,388","40,869","36,274","61,107","65,852","43,000","28,006","13,574","6,875","1,090",...,"20,333","17,946","31,350","32,055","20,741","14,103","7,390","4,586",843,29
경기,"1,172,075","1,339,379","1,778,526","1,904,165","2,273,048","2,184,218","1,426,852","740,449","330,832","47,149",...,"649,603","843,049","925,210","1,119,776","1,078,108","718,215","405,241","212,056","36,241","1,036"
강원,"108,045","140,425","178,154","167,408","223,985","265,623","227,301","134,303","68,458","10,273",...,"67,235","78,230","79,836","108,549","129,410","114,148","74,286","44,568","8,029",240
충북,"127,195","151,801","197,669","196,265","240,481","271,166","210,970","118,476","63,765","8,559",...,"72,715","87,866","92,600","115,883","131,806","105,394","65,398","42,148","6,684",183
충남,"178,492","205,103","241,970","272,658","325,856","336,295","264,777","167,132","98,221","13,289",...,"98,646","108,633","126,257","152,214","159,235","132,801","91,815","63,994","10,223",303
전북,"133,918","178,812","211,390","192,827","270,457","299,549","244,881","165,417","89,751","12,649",...,"86,082","97,420","93,410","130,706","144,791","124,102","92,933","59,999","9,867",292
전남,"136,575","170,968","201,065","189,897","261,080","313,284","259,615","189,876","106,877","15,115",...,"82,036","89,207","89,790","121,038","145,717","129,212","107,550","73,523","12,148",335
경북,"196,400","230,810","287,439","298,200","384,946","458,920","390,210","237,911","131,567","17,454",...,"109,109","125,334","139,460","183,959","221,941","196,962","132,749","88,637","13,919",391
경남,"280,070","328,969","381,959","412,484","536,823","579,342","437,143","240,233","120,588","16,024",...,"156,532","170,246","197,273","260,202","284,178","219,863","134,913","83,378","13,001",270
제주,"61,684","71,136","81,416","83,264","111,812","110,053","74,739","44,162","22,912","3,724",...,"33,909","38,305","41,087","54,019","52,651","37,571","24,243","15,391","3,230",131

In [39]:
data1.to_csv('C:/Users/USER/Desktop/2020 summer dacon/2020_jeju_credit card/data/시별-연령별,성별 population data.csv', index = False)

In [ ]:
# 물어봐야 할 것 : 시도, 연령